html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

thead {
    font-family: "Helvetica";
    font-size: 15px;
    font-style: normal;
}

tbody {
    font-family: "Helvetica";
    font-size: 13px;
    font-style: normal;
    font-style: normal;
}
 